@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Cuyabra';
	src: url('fonts/cuyabra.otf') format('opentype');
}

@font-face {
	font-family: 'ILoveGlitter';
	src: url('fonts/ILG.ttf') format('truetype');
}

:root {
	font-family: 'Cuyabra', 'sans-serif';
}
